<html>
<head>
  <title>Demo Form</title>
  <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<div class="container"><br>
  <h2>Flask Multi Step Form</h2>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-warning" role="alert">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class=container"><br>
  <h2> You're done</h2>
</div>
</body>
</html>