<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='register.css') }}">
</head>
<body>


{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-warning" role="alert">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}



<div class="container">
  <div class="col-xs-12 ">
    <form id="form" class="form-vertical" role="form" action="/register" method="post">
      {{ form.csrf_token }}
      {% for form_part in form %}
        <div class="form-group">
          {{ form_part.label }}
          <br>
          <div class="input-group">
{#            <div class="input-group-addon">#}
{#              <span class="fa fa-user"></span>#}
{#            </div>#}
            {{ form_part(class_="form-control") }}
          </div>
        </div>
      {% endfor %}
      {{ form.multi_part_step }}

      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>

</div>

</body>
</html>